*~
modules/apt
modules/chocolatey
modules/concat
modules/domain_membership
modules/firewall
modules/inifile
modules/postgresql
modules/powershell
modules/puppetdb
modules/reboot
modules/registry
modules/selinux
modules/stdlib
modules/sudo
modules/windows_env
modules/winfacts
modules/winntp